<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.supersecurenotes">

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SuperSecureNotes">

        <!-- MainActivity with splash screen as theme, locked to portrait -->
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.App.SplashScreen"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Other activities locked to portrait -->
        <activity
            android:name=".NotesActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ModLockActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".VisualizationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SetPasswordActivity"
            android:screenOrientation="portrait" />

    </application>
</manifest>